.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon, .hinvert:hover .icon.alt, .icon.alt.hinvert:hover {
  background-image: url("glyphicons.png");
}

.icon.alt, .hinvert:hover .icon, .icon.hinvert:hover {
  background-image: url("glyphicons-alt.png");
}

//.icon.address-book { background-position: -5px -173px; }
//.icon.adjust { background-position: -725px -101px; }
//.icon.adjust-alt { background-position: -917px -173px; }
//.icon.airplane { background-position: -1037px -29px; }
//.icon.alarm { background-position: -245px -77px; }
//.icon.albums { background-position: -797px -125px; }
//.icon.align-center { background-position: -749px -29px; }
//.icon.align-left { background-position: -5px -101px; }
//.icon.align-right { background-position: -1037px -77px; }
//.icon.anchor { background-position: -869px -197px; }
//.icon.asterisk { background-position: -509px -173px; }
//.icon.ax { background-position: -461px -173px; }
//.icon.ban { background-position: -557px -53px; }
//.icon.bank { background-position: -461px -5px; }
//.icon.barcode { background-position: -653px -5px; }
//.icon.baseball { background-position: -53px -29px; }
//.icon.basketball { background-position: -317px -29px; }
//.icon.bathrobe { background-position: -173px -197px; }
//.icon.beach-umbrella { background-position: -557px -29px; }
//.icon.beer { background-position: -725px -197px; }
//.icon.bell { background-position: -365px -53px; }
//.icon.bicycle { background-position: -773px -29px; }
//.icon.bin { background-position: -221px -149px; }
//.icon.binoculars { background-position: -317px -149px; }
//.icon.birthday-cake { background-position: -1085px -173px; }
//.icon.blacksmith { background-position: -245px -149px; }
//.icon.blog { background-position: -53px -221px; }
//.icon.bluetooth { background-position: -101px -125px; }
//.icon.boat { background-position: -269px -5px; }
//.icon.bold { background-position: -725px -77px; }
//.icon.bomb { background-position: -1133px -125px; }
//.icon.book { background-position: -245px -5px; }
//.icon.book-open { background-position: -509px -149px; }
//.icon.bookmark { background-position: -365px -101px; }
//.icon.bowling { background-position: -821px -29px; }
//.icon.briefcase { background-position: -197px -53px; }
//.icon.brightness-increase { background-position: -917px -197px; }
//.icon.brightness-reduce { background-position: -101px -77px; }
//.icon.brush { background-position: -629px -101px; }
//.icon.bug { background-position: -149px -101px; }
//.icon.building { background-position: -1013px -53px; }
//.icon.bullets { background-position: -1037px -149px; }
//.icon.bullhorn { background-position: -341px -5px; }
//.icon.buoy { background-position: -821px -125px; }
//.icon.bus { background-position: -701px -149px; }
//.icon.cake { background-position: -1013px -101px; }
//.icon.calculator { background-position: -749px -197px; }
//.icon.calendar { background-position: -701px -5px; }
//.icon.camera { background-position: -221px -125px; }
//.icon.camera-small { background-position: -965px -5px; }
//.icon.candle { background-position: -1085px -5px; }
//.icon.car { background-position: -845px -125px; }
//.icon.cardio { background-position: -917px -5px; }
//.icon.cargo { background-position: -749px -53px; }
//.icon.cars { background-position: -245px -221px; }
//.icon.cart-in { background-position: -773px -149px; }
//.icon.cart-out { background-position: -869px -53px; }
//.icon.celebration { background-position: -125px -173px; }
//.icon.certificate { background-position: -605px -5px; }
//.icon.charts { background-position: -341px -149px; }
//.icon.chat { background-position: -557px -149px; }
//.icon.check { background-position: -1157px -125px; }
//.icon.chevron-left { background-position: -317px -77px; }
//.icon.chevron-right { background-position: -1037px -173px; }
//.icon.circle-arrow-down { background-position: -773px -101px; }
//.icon.circle-arrow-left { background-position: -557px -221px; }
//.icon.circle-arrow-right { background-position: -437px -77px; }
//.icon.circle-arrow-top { background-position: -893px -77px; }
//.icon.circle-exclamation-mark { background-position: -485px -77px; }
//.icon.circle-info { background-position: -365px -149px; }
//.icon.circle-minus { background-position: -101px -53px; }
//.icon.circle-ok { background-position: -77px -77px; }
//.icon.circle-plus { background-position: -1061px -125px; }
//.icon.circle-question-mark { background-position: -53px -77px; }
//.icon.circle-remove { background-position: -365px -197px; }
//.icon.classic-hammer { background-position: -5px -125px; }
//.icon.claw-hammer { background-position: -989px -197px; }
//.icon.cleaning { background-position: -869px -125px; }
//.icon.clock { background-position: -125px -29px; }
//.icon.cloud { background-position: -125px -125px; }
//.icon.cloud-download { background-position: -437px -173px; }
//.icon.cloud-minus { background-position: -725px -5px; }
//.icon.cloud-plus { background-position: -1157px -173px; }
//.icon.cloud-upload { background-position: -389px -221px; }
//.icon.coat-hanger { background-position: -1109px -53px; }
//.icon.coffe-cup { background-position: -197px -149px; }
//.icon.cogwheel { background-position: -1037px -197px; }
//.icon.cogwheels { background-position: -797px -29px; }
//.icon.coins { background-position: -893px -101px; }
//.icon.collapse { background-position: -917px -149px; }
//.icon.collapse-top { background-position: -293px -197px; }
//.icon.comments { background-position: -101px -221px; }
//.icon.compass { background-position: -917px -77px; }
//.icon.compressed { background-position: -413px -173px; }
//.icon.construction-cone { background-position: -629px -221px; }
//.icon.conversation { background-position: -221px -101px; }
//.icon.copyright-mark { background-position: -629px -53px; }
//.icon.credit-card { background-position: -941px -5px; }
//.icon.crop { background-position: -485px -221px; }
//.icon.crown { background-position: -917px -29px; }
//.icon.cup { background-position: -557px -197px; }
//.icon.cutlery { background-position: -749px -149px; }
//.icon.dashboard { background-position: -173px -101px; }
//.icon.database-ban { background-position: -893px -29px; }
//.icon.database-lock { background-position: -605px -125px; }
//.icon.database-minus { background-position: -653px -173px; }
//.icon.database-plus { background-position: -557px -5px; }
//.icon.delete { background-position: -917px -53px; }
//.icon.direction { background-position: -797px -149px; }
//.icon.disk-export { background-position: -845px -173px; }
//.icon.disk-import { background-position: -533px -29px; }
//.icon.disk-open { background-position: -389px -173px; }
//.icon.disk-remove { background-position: -269px -149px; }
//.icon.disk-save { background-position: -1061px -149px; }
//.icon.disk-saved { background-position: -53px -173px; }
//.icon.dislikes { background-position: -317px -197px; }
//.icon.display { background-position: -317px -101px; }
//.icon.divide { background-position: -77px -173px; }
//.icon.dog { background-position: -845px -101px; }
//.icon.down-arrow { background-position: -509px -53px; }
//.icon.download { background-position: -341px -221px; }
//.icon.download-alt { background-position: -173px -173px; }
//.icon.dress { background-position: -317px -125px; }
//.icon.drink { background-position: -725px -53px; }
//.icon.dumbbell { background-position: -845px -149px; }
//.icon.ear-plugs { background-position: -557px -77px; }
//.icon.earphone { background-position: -773px -53px; }
//.icon.edit { background-position: -173px -125px; }
//.icon.eject { background-position: -77px -125px; }
//.icon.electrical-plug { background-position: -1133px -5px; }
//.icon.electrical-socket-eu { background-position: -677px -77px; }
//.icon.electrical-socket-us { background-position: -77px -149px; }
//.icon.electricity { background-position: -101px -29px; }
//.icon.embed { background-position: -533px -221px; }
//.icon.embed-close { background-position: -533px -125px; }
//.icon.envelope { background-position: -653px -29px; }
//.icon.euro { background-position: -29px -221px; }
//.icon.exit { background-position: -53px -149px; }
//.icon.expand { background-position: -389px -125px; }
//.icon.eye-close { background-position: -1085px -53px; }
//.icon.eye-open { background-position: -677px -221px; }
//.icon.eyedropper { background-position: -749px -77px; }
//.icon.fabric { background-position: -941px -77px; }
//.icon.facetime-video { background-position: -437px -149px; }
//.icon.factory { background-position: -677px -101px; }
//.icon.fast-backward { background-position: -101px -173px; }
//.icon.fast-food { background-position: -293px -149px; }
//.icon.fast-forward { background-position: -989px -53px; }
//.icon.fax { background-position: -581px -221px; }
//.icon.female { background-position: -653px -197px; }
//.icon.file { background-position: -533px -53px; }
//.icon.file-export { background-position: -173px -77px; }
//.icon.file-import { background-position: -581px -125px; }
//.icon.film { background-position: -1109px -125px; }
//.icon.filter { background-position: -125px -77px; }
//.icon.fins { background-position: -1013px -29px; }
//.icon.fire { background-position: -1133px -101px; }
//.icon.fishes { background-position: -701px -197px; }
//.icon.flag { background-position: -1061px -197px; }
//.icon.flash { background-position: -749px -173px; }
//.icon.floppy-disk { background-position: -989px -29px; }
//.icon.floppy-open { background-position: -77px -29px; }
//.icon.floppy-remove { background-position: -77px -5px; }
//.icon.floppy-save { background-position: -677px -29px; }
//.icon.floppy-saved { background-position: -125px -197px; }
//.icon.flower { background-position: -197px -77px; }
//.icon.folder-closed { background-position: -485px -149px; }
//.icon.folder-flag { background-position: -149px -197px; }
//.icon.folder-lock { background-position: -29px -173px; }
//.icon.folder-minus { background-position: -893px -173px; }
//.icon.folder-new { background-position: -365px -77px; }
//.icon.folder-open { background-position: -941px -29px; }
//.icon.folder-plus { background-position: -605px -77px; }
//.icon.font { background-position: -293px -221px; }
//.icon.forward { background-position: -29px -77px; }
//.icon.french-press { background-position: -581px -77px; }
//.icon.fullscreen { background-position: -101px -149px; }
//.icon.gamepad { background-position: -317px -53px; }
//.icon.gbp { background-position: -269px -221px; }
//.icon.gift { background-position: -1157px -149px; }
//.icon.girl { background-position: -221px -5px; }
//.icon.git-branch { background-position: -1157px -29px; }
//.icon.git-commit { background-position: -53px -125px; }
//.icon.git-compare { background-position: -989px -77px; }
//.icon.git-create { background-position: -533px -5px; }
//.icon.git-delete { background-position: -989px -125px; }
//.icon.git-merge { background-position: -53px -197px; }
//.icon.git-private { background-position: -53px -5px; }
//.icon.git-pull-request { background-position: -653px -221px; }
//.icon.glass { background-position: -485px -101px; }
//.icon.global { background-position: -365px -125px; }
//.icon.globe { background-position: -869px -77px; }
//.icon.globe-af { background-position: -1109px -29px; }
//.icon.golf { background-position: -341px -125px; }
//.icon.golf-course { background-position: -53px -101px; }
//.icon.google-maps { background-position: -797px -77px; }
//.icon.grater { background-position: -269px -173px; }
//.icon.group { background-position: -701px -125px; }
//.icon.hand-down { background-position: -701px -53px; }
//.icon.hand-left { background-position: -1133px -53px; }
//.icon.hand-right { background-position: -917px -101px; }
//.icon.hand-saw { background-position: -245px -173px; }
//.icon.hand-up { background-position: -605px -149px; }
//.icon.hdd { background-position: -893px -5px; }
//.icon.header { background-position: -1061px -5px; }
//.icon.headphones { background-position: -341px -77px; }
//.icon.headset { background-position: -221px -173px; }
//.icon.heart { background-position: -293px -29px; }
//.icon.heart-empty { background-position: -77px -197px; }
//.icon.heat { background-position: -701px -101px; }
//.icon.history { background-position: -1013px -197px; }
//.icon.hockey { background-position: -653px -101px; }
//.icon.home { background-position: -197px -125px; }
//.icon.hospital { background-position: -1061px -173px; }
//.icon.hospital-h { background-position: -821px -101px; }
//.icon.imac { background-position: -797px -197px; }
//.icon.inbox { background-position: -293px -53px; }
//.icon.inbox-in { background-position: -413px -197px; }
//.icon.inbox-lock { background-position: -509px -125px; }
//.icon.inbox-minus { background-position: -1013px -5px; }
//.icon.inbox-out { background-position: -989px -149px; }
//.icon.inbox-plus { background-position: -461px -101px; }
//.icon.ipad { background-position: -605px -101px; }
//.icon.iphone { background-position: -461px -197px; }
//.icon.iphone-exchange { background-position: -533px -101px; }
//.icon.iphone-shake { background-position: -389px -197px; }
//.icon.iphone-transfer { background-position: -845px -29px; }
//.icon.ipod { background-position: -269px -77px; }
//.icon.ipod-shuffle { background-position: -1133px -197px; }
//.icon.italic { background-position: -533px -173px; }
//.icon.justify { background-position: -989px -173px; }
//.icon.kettle { background-position: -533px -77px; }
//.icon.keyboard-wireless { background-position: -149px -173px; }
//.icon.keynote { background-position: -1133px -77px; }
//.icon.keys { background-position: -1085px -29px; }
//.icon.kiosk { background-position: -245px -197px; }
//.icon.kiosk-food { background-position: -653px -149px; }
//.icon.kiosk-light { background-position: -821px -5px; }
//.icon.kiosk-wheels { background-position: -413px -5px; }
//.icon.leaf { background-position: -749px -5px; }
//.icon.leather { background-position: -101px -197px; }
//.icon.left-arrow { background-position: -413px -53px; }
//.icon.left-indent { background-position: -5px -197px; }
//.icon.life-preserver { background-position: -485px -125px; }
//.icon.lightbulb { background-position: -1085px -197px; }
//.icon.link { background-position: -389px -29px; }
//.icon.list { background-position: -365px -29px; }
//.icon.lock { background-position: -581px -197px; }
//.icon.log-book { background-position: -485px -29px; }
//.icon.log-in { background-position: -581px -29px; }
//.icon.log-out { background-position: -941px -173px; }
//.icon.luggage { background-position: -869px -173px; }
//.icon.macbook { background-position: -845px -197px; }
//.icon.magic { background-position: -869px -5px; }
//.icon.magnet { background-position: -509px -221px; }
//.icon.male { background-position: -389px -149px; }
//.icon.message-ban { background-position: -1037px -5px; }
//.icon.message-empty { background-position: -869px -101px; }
//.icon.message-flag { background-position: -989px -5px; }
//.icon.message-forward { background-position: -1109px -197px; }
//.icon.message-full { background-position: -437px -101px; }
//.icon.message-in { background-position: -5px -29px; }
//.icon.message-lock { background-position: -653px -77px; }
//.icon.message-minus { background-position: -917px -125px; }
//.icon.message-new { background-position: -509px -5px; }
//.icon.message-out { background-position: -1061px -29px; }
//.icon.message-plus { background-position: -149px -149px; }
//.icon.microphone { background-position: -941px -125px; }
//.icon.minus { background-position: -149px -125px; }
//.icon.money { background-position: -629px -173px; }
//.icon.moon { background-position: -461px -125px; }
//.icon.more { background-position: -221px -221px; }
//.icon.more-items { background-position: -5px -149px; }
//.icon.more-windows { background-position: -797px -53px; }
//.icon.move { background-position: -389px -53px; }
//.icon.music { background-position: -773px -125px; }
//.icon.mute { background-position: -197px -197px; }
//.icon.nails { background-position: -509px -101px; }
//.icon.nameplate { background-position: -965px -125px; }
//.icon.nameplate-alt { background-position: -1061px -101px; }
//.icon.new-window { background-position: -77px -53px; }
//.icon.new-window-alt { background-position: -437px -5px; }
//.icon.note { background-position: -533px -197px; }
//.icon.notes { background-position: -461px -29px; }
//.icon.notes-2 { background-position: -53px -53px; }
//.icon.ok { background-position: -629px -125px; }
//.icon.ok-2 { background-position: -1013px -125px; }
//.icon.old-man { background-position: -941px -101px; }
//.icon.oxygen-bottle { background-position: -1109px -77px; }
//.icon.package { background-position: -293px -101px; }
//.icon.pants { background-position: -29px -101px; }
//.icon.paperclip { background-position: -413px -149px; }
//.icon.parents { background-position: -725px -29px; }
//.icon.pause { background-position: -269px -125px; }
//.icon.pen { background-position: -413px -221px; }
//.icon.pencil { background-position: -125px -101px; }
//.icon.phone-alt { background-position: -197px -5px; }
//.icon.piano { background-position: -197px -101px; }
//.icon.picture { background-position: -629px -29px; }
//.icon.pie-chart { background-position: -821px -53px; }
//.icon.pin { background-position: -605px -173px; }
//.icon.pin-flag { background-position: -1133px -149px; }
//.icon.pipe { background-position: -893px -197px; }
//.icon.pizza { background-position: -653px -53px; }
//.icon.play { background-position: -701px -29px; }
//.icon.play-button { background-position: -1013px -77px; }
//.icon.playing-dices { background-position: -581px -5px; }
//.icon.playlist { background-position: -269px -29px; }
//.icon.plus { background-position: -509px -197px; }
//.icon.podium { background-position: -701px -77px; }
//.icon.pool { background-position: -509px -77px; }
//.icon.pot { background-position: -1085px -125px; }
//.icon.power { background-position: -965px -53px; }
//.icon.print { background-position: -125px -5px; }
//.icon.projector { background-position: -1157px -53px; }
//.icon.pushpin { background-position: -1061px -53px; }
//.icon.qrcode { background-position: -893px -125px; }
//.icon.rabbit { background-position: -29px -149px; }
//.icon.radar { background-position: -101px -5px; }
//.icon.random { background-position: -461px -77px; }
//.icon.record { background-position: -437px -197px; }
//.icon.redo { background-position: -677px -125px; }
//.icon.refresh { background-position: -677px -53px; }
//.icon.registration-mark { background-position: -293px -5px; }
//.icon.remove { background-position: -173px -53px; }
//.icon.remove-2 { background-position: -821px -77px; }
//.icon.repeat { background-position: -5px -53px; }
//.icon.resize-full { background-position: -893px -149px; }
//.icon.resize-small { background-position: -413px -29px; }
//.icon.restart { background-position: -341px -101px; }
//.icon.retweet { background-position: -773px -197px; }
//.icon.retweet-2 { background-position: -413px -101px; }
//.icon.rewind { background-position: -1109px -5px; }
//.icon.riflescope { background-position: -1109px -149px; }
//.icon.right-arrow { background-position: -557px -125px; }
//.icon.right-indent { background-position: -581px -101px; }
//.icon.ring { background-position: -389px -5px; }
//.icon.road { background-position: -77px -221px; }
//.icon.rotation-lock { background-position: -1109px -173px; }
//.icon.roundabout { background-position: -245px -29px; }
//.icon.router { background-position: -629px -149px; }
//.icon.rugby { background-position: -965px -149px; }
//.icon.ruller { background-position: -269px -197px; }
//.icon.sampler { background-position: -1037px -101px; }
//.icon.saw-blade { background-position: -77px -101px; }
//.icon.scissors { background-position: -1157px -5px; }
//.icon.screenshot { background-position: -629px -5px; }
//.icon.scuba-diving { background-position: -965px -29px; }
//.icon.search { background-position: -845px -53px; }
//.icon.security-camera { background-position: -5px -5px; }
//.icon.send { background-position: -413px -77px; }
//.icon.server { background-position: -221px -77px; }
//.icon.server-ban { background-position: -941px -53px; }
//.icon.server-flag { background-position: -1133px -29px; }
//.icon.server-lock { background-position: -29px -125px; }
//.icon.server-minus { background-position: -1037px -53px; }
//.icon.server-new { background-position: -1085px -101px; }
//.icon.server-plus { background-position: -29px -197px; }
//.icon.settings { background-position: -149px -53px; }
//.icon.share { background-position: -149px -221px; }
//.icon.share-alt { background-position: -125px -53px; }
//.icon.sheriffs-star { background-position: -989px -101px; }
//.icon.shield { background-position: -197px -173px; }
//.icon.shirt { background-position: -605px -53px; }
//.icon.shoe-steps { background-position: -773px -5px; }
//.icon.shop { background-position: -413px -125px; }
//.icon.shop-window { background-position: -341px -29px; }
//.icon.shopping-bag { background-position: -389px -101px; }
//.icon.shopping-cart { background-position: -533px -149px; }
//.icon.show-big-thumbnails { background-position: -149px -5px; }
//.icon.show-lines { background-position: -269px -53px; }
//.icon.show-thumbnails { background-position: -1013px -149px; }
//.icon.show-thumbnails-with-lines { background-position: -869px -149px; }
//.icon.signal { background-position: -293px -125px; }
//.icon.skateboard { background-position: -485px -53px; }
//.icon.skull { background-position: -1085px -149px; }
//.icon.smoking { background-position: -629px -77px; }
//.icon.snorkel-diving { background-position: -461px -53px; }
//.icon.snowflake { background-position: -1157px -77px; }
//.icon.soccer-ball { background-position: -317px -221px; }
//.icon.sort { background-position: -5px -221px; }
//.icon.sort-by-alphabet { background-position: -581px -149px; }
//.icon.sort-by-alphabet-alt { background-position: -1109px -101px; }
//.icon.sort-by-attributes { background-position: -605px -221px; }
//.icon.sort-by-attributes-alt { background-position: -485px -5px; }
//.icon.sort-by-order { background-position: -341px -173px; }
//.icon.sort-by-order-alt { background-position: -461px -149px; }
//.icon.sorting { background-position: -557px -173px; }
//.icon.sound-5-1 { background-position: -173px -5px; }
//.icon.sound-6-1 { background-position: -653px -125px; }
//.icon.sound-7-1 { background-position: -701px -173px; }
//.icon.sound-dolby { background-position: -269px -101px; }
//.icon.sound-stereo { background-position: -389px -77px; }
//.icon.spade { background-position: -821px -173px; }
//.icon.spray { background-position: -5px -77px; }
//.icon.star { background-position: -461px -221px; }
//.icon.stats { background-position: -581px -53px; }
//.icon.step-backward { background-position: -725px -173px; }
//.icon.step-forward { background-position: -245px -101px; }
//.icon.stop { background-position: -581px -173px; }
//.icon.stopwatch { background-position: -509px -29px; }
//.icon.stroller { background-position: -173px -221px; }
//.icon.subtitles { background-position: -749px -125px; }
//.icon.suitcase { background-position: -29px -5px; }
//.icon.sun { background-position: -437px -53px; }
//.icon.sweater { background-position: -1133px -173px; }
//.icon.t-shirt { background-position: -1037px -125px; }
//.icon.table { background-position: -485px -197px; }
//.icon.table-tennis { background-position: -341px -53px; }
//.icon.tablet { background-position: -365px -221px; }
//.icon.tag { background-position: -149px -77px; }
//.icon.tags { background-position: -965px -77px; }
//.icon.tea-kettle { background-position: -677px -149px; }
//.icon.temple-buddhist { background-position: -1157px -197px; }
//.icon.temple-christianity-church { background-position: -101px -101px; }
//.icon.temple-hindu { background-position: -125px -221px; }
//.icon.temple-islam { background-position: -221px -53px; }
//.icon.text-bigger { background-position: -965px -197px; }
//.icon.text-height { background-position: -1085px -77px; }
//.icon.text-resize { background-position: -365px -5px; }
//.icon.text-smaller { background-position: -605px -197px; }
//.icon.text-strike { background-position: -557px -101px; }
//.icon.text-underline { background-position: -197px -29px; }
//.icon.text-width { background-position: -797px -173px; }
//.icon.thumbs-down { background-position: -845px -77px; }
//.icon.thumbs-up { background-position: -677px -173px; }
//.icon.tie { background-position: -941px -197px; }
//.icon.tint { background-position: -965px -101px; }
//.icon.tower { background-position: -605px -29px; }
//.icon.train { background-position: -293px -173px; }
//.icon.transfer { background-position: -677px -197px; }
//.icon.translate { background-position: -725px -125px; }
//.icon.tree-conifer { background-position: -797px -101px; }
//.icon.tree-deciduous { background-position: -317px -173px; }
//.icon.truck { background-position: -365px -173px; }
//.icon.turtle { background-position: -245px -125px; }
//.icon.umbrella { background-position: -749px -101px; }
//.icon.unchecked { background-position: -1061px -77px; }
//.icon.underwear { background-position: -893px -53px; }
//.icon.undo { background-position: -773px -77px; }
//.icon.unlock { background-position: -173px -149px; }
//.icon.unshare { background-position: -293px -77px; }
//.icon.up-arrow { background-position: -797px -5px; }
//.icon.upload { background-position: -29px -29px; }
//.icon.usd { background-position: -821px -149px; }
//.icon.user { background-position: -869px -29px; }
//.icon.user-add { background-position: -725px -149px; }
//.icon.user-remove { background-position: -149px -29px; }
//.icon.vases { background-position: -437px -125px; }
//.icon.vcard { background-position: -341px -197px; }
//.icon.vector-path-all { background-position: -845px -5px; }
//.icon.vector-path-circle { background-position: -173px -29px; }
//.icon.vector-path-curve { background-position: -437px -221px; }
//.icon.vector-path-line { background-position: -245px -53px; }
//.icon.vector-path-polygon { background-position: -29px -53px; }
//.icon.vector-path-square { background-position: -821px -197px; }
//.icon.video-hd { background-position: -629px -197px; }
//.icon.video-sd { background-position: -1157px -101px; }
//.icon.volume-down { background-position: -677px -5px; }
//.icon.volume-up { background-position: -221px -197px; }
//.icon.wallet { background-position: -485px -173px; }
//.icon.warning-sign { background-position: -437px -29px; }
//.icon.webcam { background-position: -317px -5px; }
//.icon.wifi { background-position: -1013px -173px; }
//.icon.wifi-alt { background-position: -221px -29px; }
//.icon.woman { background-position: -773px -173px; }
//.icon.wrench { background-position: -965px -173px; }
//.icon.zoom-in { background-position: -197px -221px; }
//.icon.zoom-out { background-position: -941px -149px; }
